@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Inside your CSS file or component */
/* WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Color of the thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Color of the thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: #ecf0f1; /* Color of the track */
  border-radius: 8px;
}

/* Firefox */
/* Note: Firefox currently doesn't support styling the scrollbar-thumb directly */
* {
  scrollbar-color: #3498db #ecf0f1; /* thumb color, track color */
}

/* Optionally, you can add a transition effect for a smoother appearance */
/* Uncomment the following lines if you want to add a transition effect */
/*
::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  transition: background-color 0.3s ease-in-out;
}
*/

/* Example of scrollbar width adjustment for Firefox */
/* Adjust the width according to your preference */
/*
* {
  scrollbar-width: thin;
}
*/
